<app-loading *ngIf="isLoading"></app-loading>

<div
  class="container py-4 d-flex justify-content-between align-content-center px-5"
>
  <div class="d-flex align-items-center gap-2">
    <div data-cy="todo-back-button">
      <a routerLink="/" class="text-black">
        <h4>
          <i class="bi bi-arrow-left-circle-fill pointer"></i>
        </h4>
      </a>
    </div>

    <div class="d-flex align-items-center">
      <input
      [(ngModel)]="newData.title"
      data-cy="todo-title"
      class="w-100 border-0 fs-4 ps-1 pe-5 fw-bold border-bottom focus:border-0 custom-input"
      type="text"
      (blur)="updateActivityTitle()"
    />
    <i
      data-cy="todo-title-edit-button"
      (click)="updateActivityTitle()"
      class="bi bi-pencil-fill text-secondary pointer"
    ></i>
    </div>

    <!-- <ng-template #edit class="d-flex align-items-center gap-1">
      <input
        [(ngModel)]="newData.title"
        data-cy="todo-title-edit-button"
        class="w-100 border-0 fs-4 ps-1 pe-5 fw-bold border-bottom focus:border-0 custom-input"
        type="text"
        (blur)="updateActivityTitle()"
      />
      <i
        data-cy="todo-title-edit-button"
        (click)="updateActivityTitle()"
        class="bi bi-pencil-fill text-secondary pointer"
      ></i>
    </ng-template> -->
  </div>

  <div class="d-flex gap-3">
    <div
      *ngIf="newData?.todo_items.length > 1"
      ngbDropdown
      class="d-inline-block bg-light rounded-3"
    >
      <button
        data-cy="todo-sort-button"
        class="btn btn-outline-secondary rounded-5 text-center"
        id="dropdownBasic1"
        ngbDropdownToggle
      >
        <i class="bi bi-arrow-down-up"></i>
      </button>
      <div
        data-cy="sort-parent"
        ngbDropdownMenu
        aria-labelledby="dropdownBasic1"
      >
        <div data-cy="sort-selection" *ngFor="let item of sortItem; let i = index">
          <button
            [attr.data-cy]="item.data"
            ngbDropdownItem
            (click)="item.click(item, i)"
            class="d-flex gap-3 btn justify-content-start align-items-center"
          >
            <i data-cy="sort-selection-icon" class="{{ item.icon }}"></i>
            <span ata-cy="sort-selection-title">{{ item.title }}</span>
            <i *ngIf="item.active === i" class="bi bi-check text-costum"></i>
          </button>
        </div>
      </div>
    </div>

    <button
      data-cy="todo-add-button"
      class="btn color-costum btn-secondary border-0 fw-semibold rounded-5 px-4 py-2 text-light :hover"
      (click)="openModalAddList(addlist)"
    >
      <i class="bi bi-plus text-light"></i>
      Tambah
    </button>
    <ng-template #addlist>
      <app-addlist-modal
        [title]="titleAddList"
        [data]="defaultValue"
        (emitList)="addListItem($event)"
      />
    </ng-template>
  </div>
</div>
<div *ngIf="newData?.todo_items.length > 0; else todoEmpty">
  <div
    *ngFor="let item of sortedData"
    class="container d-flex flex-column justify-content-center align-items-center mt-2"
  >
    <div data-cy="todo-item" class="list-container">
      <div class="form-check d-flex align-items-center gap-4">
        <div>
          <input
            data-cy="todo-item-checkbox"
            class="form-check-input custom-checkbox"
            type="checkbox"
            [checked]="!item.is_active"
            (change)="updateIsCompleted(item)"
            id="flexCheckDefault"
          />
          <i
            class="bi bi-circle-fill {{
              item.priority === 'very-high'
                ? 'text-danger'
                : item.priority === 'high'
                ? 'text-warning'
                : item.priority === 'normal'
                ? 'text-success'
                : item.priority === 'low'
                ? 'text-info'
                : 'costum-color'
            }}"
          ></i>
          <span
            class="ms-2 me-3 fw-bold text-capitalize {{
              !item.is_active
                ? ' text-decoration-line-through text-secondary'
                : ''
            }}"
            >{{ item.title }}</span
          >
          <i
            (click)="openModalAddList(editlist)"
            class="bi bi-pencil-fill text-secondary pointer"
          ></i>
          <ng-template #editlist>
            <app-addlist-modal
              [title]="titleEditList"
              [data]="item"
              (emitList)="updateListItem($event, item.id)"
            />
          </ng-template>
        </div>
      </div>

      <i
        (click)="openVerticallyCentered(alertDelete)"
        class="bi bi-trash3 text-secondary pointer"
      ></i>
      <ng-template #alertDelete>
        <app-alert-modal
          [message]="item.title"
          (deleteActivity)="deleteListItem(item.id)"
        />
      </ng-template>
    </div>
  </div>
</div>

<ng-template #todoEmpty>
  <div
    (click)="openModalAddList(addlist)"
    data-cy="todo-empty-state"
    class="container-md justify-content-center mt-5 d-flex align-items-center"
  >
    <img
      class="w-25 pointer"
      src="assets/todo-empty-state.png"
      alt="hero-pic"
    />
  </div>
</ng-template>
