.back-button{
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.custom-input{
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none; /* Warna border bottom sesuaikan dengan keinginan Anda */
  outline: none; /* Hapus outline saat focus untuk tampilan yang lebih bersih */
  transition: border-bottom 0.3s; 
}
.custom-input:focus {
  width: 100%;
  border-bottom: 1px solid gray;
  
}

.list-container{
    background-color: #fff;
    padding: 27px 27px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,.20);
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.custom-checkbox {
  transform: scale(1.2); /* Sesuaikan faktor skala sesuai keinginan */
}




