:root {
    --primary-color:#16ABF8;
    ;
  
  }
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.color-costum{
    background-color: var(--primary-color);
}

.pointer{
    cursor: pointer;
}

